nav {
  background-color: darkblue;
  padding: 10px;
}


  color: white;
  display: block;
  padding: 20px;
  text-decoration: none;
}

main {
  max-width: 900px;
}


h1 {
  color: darkblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

aside {
  width: 300px;
  margin: 1rem;
  border: 1px solid black;
  padding: 1rem;
  background-color: white;
  color: black;
}

aside img {
  width: 200px;
  height: auto;
  border: 1px solid black;      
  padding: 2px;                  
  box-shadow: 0 0 30px gray;    
}


p {
  padding: 0;
}


footer {
  margin-top: 2rem;
  border-top: 1px solid black;
  text-align: center;
}


body { font-family: Arial, Helvetica, sans-serif; background: #f9fafb; }